* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #5c5c5c 0%, #8f8f8f 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: inset;
  width: 700px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #dddddd;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-check {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-check label {
  display: inline-block;
  margin: 2px;
}

.form-check input {
  border: 2px solid #f0f0f0;
  display: inline-block;
}
